@font-face {
    src: url('../fonts/digital-7.ttf');
    font-family: 'principal';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.700);
}

footer {
    display: flex;
    align-items: center; /* Alinha os itens vertical */
    justify-content: space-evenly; /* Distribui os elementos na vertical com espaçamento */
    height: 40px;
    background-color: #333333;
}

/* --- Titulo --- */
h1 {
    font-family: 'principal';
    font-size: 82px;
    letter-spacing: 0.2em;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
}


/* --- Menu com as Abas--- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaçamento entre os links*/
    width: 60%;
    background-color: #b0d9f8;
    border: 6px solid rgb(20, 199, 0);
    border-bottom: none;
}

nav a {
    width: 25%;
    border: none;
    text-align: center;
    padding: 20px 0 20px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'principal';
    font-size: 18px;
    letter-spacing: 0.3em;
    font-weight: bold;

    /* border: 6px solid rgb(20, 199, 0);
    border-bottom: none; */
}

/*Efeito ao passar o mouse */
nav a:hover {
    background-color: rgb(20, 199, 0);
    /* border-bottom: 8px solid rgb(12, 122, 0); */
    color: #ffffff;
    height: 100%;
}

nav a:hover::after {
    content: " ";
    background-color: rgb(20, 199, 0);
    color: #ffffff;
}

/* 
    - Muda a cor ao clicar, vai ser usado para deixar a aba selecionada por isso a 
      criação da classe .mudafocus
*/
nav a.mudafocus,
nav a:focus {
    background-color: rgb(12, 122, 0);
    border-bottom: 8px solid rgb(12, 122, 0);
    border-bottom-width: 20px;
    border-bottom: 12px solid rgb(20, 199, 0);
}


/* --- Seções de cada Aba --- */
.aba {
    border: 6px solid rgb(20, 199, 0);
    /* border-top: none; */
}
/* 
    - Deixa a seção oculta até ser clicada na sua respectiva aba 
*/
section {
    display: none;
    height: 60%;
    width: 60%;
    border: 1px solid #000000;
    border-top: none;
    background-color:  #ffffff;
}

/* --- Mostrando o conteúdo quando clicar na aba*/
section:target {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

/* --- Contéudo das Seções --- */
#digital h2, #stopwatch h2, #timer h2 {
    font-family: 'principal';
    color: #00ff00;
    font-size: 5em;
}

.entrada-timer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.labels-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    text-transform: uppercase;
    width: 100%;
}

.labels-inputs label {
    text-align: center;
    padding-bottom: 5px;
    letter-spacing: 3px;
}

.labels-inputs input {
    width: 100px;
    height: 35px;
    text-align: center;
    margin: auto;
    border-radius: 9px;
    border: none;
}

/* --- BOTÕES definindo um tamanho padrão*/
.botoes {
    display: flex;
}

.botoes button {
    box-sizing: border-box;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 25px;
}

#stopwatch button {
    margin-top: 28px;
}

/* --- Botão Start --- */
.btn-start {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 4, 255);
    width: 150px;
    padding: 15px ;
    border: none;
    border-bottom: 6px solid  rgb(4, 126, 226);
}

.btn-start:hover{
    background-color: rgb(4, 126, 226);
    border-bottom-color: rgb(0, 4, 255);
    color: #000000;
}

.btn-start:hover  > svg {
    fill: #000000;
}

.btn-start:hover  > span{
    color: #000000;
    font-weight: bolder;
}

/* --- Botão Pause --- */
.btn-pause{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 122, 0);
    width: 150px;
    padding: 15px ;
    border: none;
    border-bottom: 6px solid rgb(20, 199, 0);
}

.btn-pause:hover{
    background-color:   rgb(20, 199, 0);
    border-bottom-color:  rgb(12, 122, 0);
    color: #000000;
}

/* --- Botão Stop --- */
.btn-stop{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 0, 0);
    width: 150px;
    padding: 15px ;
    border: none;
    border-bottom: 6px solid rgb(245, 79, 79);
}

.btn-stop:hover{
    background-color:    rgb(245, 79, 79);
    border-bottom-color:   rgb(255, 0, 0);
    color: #000000;
}

/* --- SVG dos botões --- */
.btn-svg {
    fill: #ffffff;
    height: 25px;
    width: 35px;
}

/* --- Span's dos botões --- */
.btn-span {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    height: 10px;
    line-height: 10px;
}

/* --- Erro do Timer */
#error-timer {
    color: #ff0000;
    visibility: hidden;
    padding: 15px 0 15px 0;
}

/* Modal Timer */

#modal-timer {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 14;
}

.header-modal {
    background-color: #000000;
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    font-weight: 900;
    padding-right: 15px;
    color: rgb(12, 122, 0);
    border: 6px solid rgb(20, 199, 0);
    border-bottom: none;
    margin-top: 80px;
}

#close-x:hover,
#close-x:focus {
  color: rgb(20, 199, 0);
  text-decoration: none;
  cursor: pointer;
}

.conteudo-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    width: 400px;
    height: 200px;
    padding-top: 20px;
    border: 6px solid rgb(20, 199, 0);
    border-top: none;
}

.conteudo-modal span {
    color: rgb(20, 199, 0);
    font-size: 42px;
    font-family: 'principal';
    letter-spacing: 4px;
    padding: 20px;
    text-decoration: underline;
    margin-top: -50px;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 15px ;
    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color:   rgb(20, 199, 0);
    border-bottom: 6px solid rgb(12, 122, 0);
    margin-top: 20px;
}

.close:hover {
    background-color: rgb(12, 122, 0);
    border-bottom: 6px solid rgb(20, 199, 0);
    color: #000000;
    cursor: pointer;
}

/* --- Tira o focus dos botões --- */
.botoes button:focus, .close:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

@media screen and (max-width: 800px) {
    body {
        height: 100vh;
    }
    
    main {
        height: 100%;
        width: 100%;
    }

    nav {
        width: 100%;
    }

    nav a {
        display: flex;
        justify-content: space-evenly;
        font-size: 3.5vw;
        padding: 15px;
    }
    
    section {
        height: 100%;
        width: 100%;
        border: none;
        overflow: hidden;
    }

    h1 {
        font-size: 64px;
    }

    .labels-inputs label {
        font-size: 16px;
        letter-spacing: 0;
    }
    .labels-inputs input {
        width: 80px;
        height: 35px;
        text-align: center;
        margin: auto;
        border-radius: 9px;
        border: none;
    }
    
}